body { 
    display: flex; 
    justify-content: center; 
}
.gameboard { 
    padding: 100px 0; 
}
.row div { 
    height: 200px; 
    width: 200px; 
}
.first-column { 
}
.first-row { 
    border-bottom: 3px solid black;
}
.second-row { 
    border-bottom: 3px solid black;
}
.second-column { 
    border-right: 3px solid black; 
    border-left: 3px solid black; 
}

.row1 { 
    display: flex; 
    flex-direction: flex-end; 
}
.row2 { 
    display: flex; 
    flex-direction: flex-end; 
}
.row3 { 
    display: flex; 
    flex-direction: flex-end; 
}
.x { 
    font-size: 80px; 
    margin-top: 45px; 
    display: flex; 
    justify-content: center; 
}
.o {
    font-size: 80px; 
    margin-top: 45px; 
    display: flex; 
    justify-content: center; 
}